@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To access our free products please login first with twitter.</p>
</div>


<div style="text-align: center;">
@using (Html.BeginForm("TwitterAuth", "Home", FormMethod.Get))
{
    <br />
    <button type="submit" id="twitter">Login with Twitter</button>
}
</div>
